#
# Ravy (chezmoi) fish config
#

{{ template "ravy_fish_common.tmpl" . }}

# Following is interactive only.
if not status --is-interactive
    return
end
{{ template "ravy_fish_interactive.tmpl" . }}